
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(papyrus.jpg);
    background-size: cover;
}
.content {
    position: relative;
    z-index: 2;
    text-align: center;
    color: white;
    background-image: url('gang_Logo-removebg-preview.png');
    background-size: contain;
    background-position: top;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.cube {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: black;
    border: 2px solid white;
    cursor: pointer;
    transition: background 0.3s;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
}

.cube.selected {
    background: blue;
    color: white;
}

.cube>i{
    font-size: 40px;
    color: turquoise;
}

#message-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    text-align: center;
}

#message-box.hidden {
    display: none;
}

textarea {
    width: 300px;
    height: 150px;
    font-size: 18px;
    margin-bottom: 10px;
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.fade-out {
    animation: fadeOut 1s forwards;
}

.fade-in {
    animation: fadeIn 1s forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
